@model testsite.Views.Accept.Accept2ViewModel

@{
    ViewData["Title"] = "BlackWacateお申込み";
}

<h2>BlackWacateお申込み</h2>

<form asp-action="Accept2">
    <div class="form-horizontal">
        <h4>－ご職業について－</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Office" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Office" class="form-control" />
                <span asp-validation-for="Office" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="JobTypeId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="JobTypeId" class="form-control" asp-items="ViewBag.JobTypeId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Yakushoku" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Yakushoku" class="form-control" />
                <span asp-validation-for="Yakushoku" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="次へ" class="btn btn-default" />
                <a asp-action="Index" class="btn btn-default">戻る</a>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
