@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <div class="container">
        <h1>べにちどりのサイト</h1>
        <p>
            まだ工事中・・・。<br />
        </p>
    </div> <!-- /container -->
</div>
